/* Only define default styles here */
.image-container {
  box-sizing: border-box;
  touch-action: none;
  user-select: none;
  position: absolute;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  width: fit-content;
  box-sizing: border-box;
  position: absolute;
  transform: translate(-50%, -50%);
}
